<div style="background-image: url('/images/abstract.jpeg'); text-align: center; height: 100%;">
  <h1 style="color: white;">Editing Project</h1>

  <%= render 'form', project: @project %>

  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>
</div>