<body style="background-color: #2D2424!important;">
<div class="d-flex justify-content-center py-5" style="background-color: #2D2424!important;">
<div class="card p-4" style="background-color: #E0C097!important;">
<h1>New Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>

</div>
</div>
</body>